.header {
  display:block;
    width: 95%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    background-color: #ffe4c4;
    text-align: center;
  }
  
  .main {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    height: 75%;
  }

  .footer {
    display:block;
    width: 95%;
    height: 5%;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(241, 241, 248);
    text-align: right;
  }

  .myCode {
    background-color: #D5DBDB; 
  }

  .logo{
    width: 16px;
    height: 16px;
    margin-left: 30px;
  }